.header {
    font-size: 18px;
    font-weight: 600;
}

.content {
    background: #FFF;
    border: 1px solid #CBCBCB;
    padding: 10px;
}
.content_data span{
    font-style: italic;
}
.content_data button{
    margin-left: 10px;
}

.btnYes {border: 1px solid rgb(76 175 80) !important;}
.btnYes span {color: #4caf50;}

.todoBlock {
    margin-top: 10px;
}

.item:hover {
    background-color: #f0f0f0 !important;
    cursor: default;
}
.item>span:first-child {
    font-weight: 600;
    font-style: italic;
    padding-right: 5px;
}

.item button {
    float: right;
    bottom: 5px;
    margin-right: 5px;
}