.modalCover {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background: #6b6b6ba6;
    outline: 0;
}
/*.modal600 {max-width: 600px;}
.modal300 {max-width: 300px;}*/

.modal {
    width: 100%;
    position: fixed;
    top: 20%;
    left: 25%;
    /*padding: 15px;*/
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .3rem;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

}
.modalHead {
    background-color: #1976d2;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
}
.modalBody {
    padding: 0px 15px;
    padding-bottom: 15px;
}

.closeBtn {
    float: right;
    min-width: 22px !important;
    padding: 0 !important;
}



hr {width: 100%;}

.modalControl {margin-left: 20px;}