.fabrika {
    text-align: center;
    padding-top: 10px;
    font-size: 19px;
    font-style: italic;
    font-weight: 600;
}

.signIn {
    float: right;
    margin-top: -33px;
    padding-right: 10px;
    /*font-style: italic;*/
}
.signIn button {
    min-width: 32px !important;
}
.signIn svg {
    vertical-align: bottom;
}



.login button {
    margin-top: 20px;
}
