.formDiv div {
    /*margin-top: 10px;*/
}
.formDiv input {
    width: 570px;
}
.formDiv label {
    font-style: italic;
}
.btns {

    margin-top: 15px;
}

.btnsRight {
    float: right;
}

.btnYes {
    background-color: #4caf50 !important;
}
.btnYes span {
    color: rgb(255 255 255);
}