.btns {margin-top: 15px;}
.btnsRight {float: right;}

.btnYes {border: 1px solid rgb(76 175 80) !important;}
.btnYes span {color: #4caf50;}

.error {
    color: red;
    font-style: italic;
    font-size: 12px;
    position: absolute;
    right: 15px;
}