.header {
    font-size: 18px;
    font-weight: 600;
}

.titleBlock {
    display: flex;
    color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1), 0 9px 10px -6px rgba(0, 0, 0, 0.1);
    padding: 5px 0px;
}
.content {
    background: #FFF;
    border: 1px solid #CBCBCB;
    padding: 10px;
}


.twidth5 {width: 5%;}
.twidth10 {width: 10%;}
.twidth25 {width: 25%;}
.twidth30 {width: 30%;}

.bodyTitle>div{border-bottom: thin solid rgba(0, 0, 0, 0.12);}
.bodyTitle>div:nth-child(even) {background-color: #f0f0f075;}

.bodyButton {display: inline-flex;}

.bodyBlock {
    display: flex;
    padding: 5px 5px;
    transition: background-color 0.1s;
}

.bodyBlock:hover {
    background-color: #f0f0f0 !important;
    cursor: default;
}

.filters {
    margin-bottom: 15px;
    height: 30px;
}
.filters>div {float: right;}
.filters span {
    color: rgba(0, 0, 0, 0.6);
    font-style: italic;
    padding-right: 5px;
}

.editTable {
    min-width: 22px !important;
    padding: 0 !important;
}

.btnYes {background-color: #4caf50 !important;}
.btnYes span {color: rgb(255 255 255);}
.btnPrint {margin-left: 5px !important}
.searcher {width: 460px;}
.searcher div {width: 400px;}


@media print {
    body * {
        visibility: hidden;
    }
    #sectionPrint, #sectionPrint *  {
        visibility: visible;
    }
    #sectionPrint {
        position: absolute;
        left: 0;
        top: 0;
    }
    .invis {display: none}
}